@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hayward's Video Rental</h1>
    <p class="lead">This website is built with a view to learn more about ASP.NET. Please register above to use this website, alternatively, you can find more of my personal projects below.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Laravel Forum</h2>
        <p>
            A recent University project had us create a basic forum whilst using an MVC of our choice
            – all functionality had to be hard-coded and the use of libraries to implement functionality 
            is not allowed.
        </p>
        <p><a class="btn btn-default" href="http://www.forum.imjackhayward.com/">Laravel Forum &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Staff Rota Autopicker</h2>
        <p>A web application that allows a company to assign engineers to a shift based on certain business rules.
            <br>
            <br>
            -          Employees cannot work more than 4 hours each day.
            <br>
            -          Employees cannot have shifts on consecutive days.
            <br>
            -          Each employee must have completed one whole day of work in any two week period.
        </p>
        <p><a class="btn btn-default" href="http://www.imjackhayward.com/wheeloffate">Staff Rota Autopicker &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Flood It Android Application</h2>
        <p>An implementation of the “Flood It” game for the Android platform written in Java, 
            I have uploaded this project to GitHub and screenshots of its functionality can be 
            found in the ReadMe file. </p>
        <p><a class="btn btn-default" href="https://github.com/ImJackHayward/FloodIt">Flood It &raquo;</a></p>
    </div>
</div>